.lead-capture-modal {
  background: linear-gradient(90deg, rgba(0,52,103,1) 100%, rgba(0,37,74,1) 100%);
  max-width: 600px;
  width: 100%;
  border-radius: 20px;
  padding: 50px 44px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  @media(max-width: 767px) {
    max-width: 335px;
    padding: 40px 20px;
  }
  .close-popup {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }
  .popup-content {
    text-align: center;
    h5 {
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
      font-family: "Red Hat Display", sans-serif;
      margin-top: 0;
      margin-bottom: 16px;
      color: #CEDFEF;
      @media(max-width: 767px) {
        font-size: 18px;
        line-height: 28px;
      }
    }
    h3 {
      color: white;
      font-size: 32px;
      line-height: 42px;
      font-weight: 400;
      font-family: "Red Hat Display", sans-serif;
      margin-top: 0;
      margin-bottom: 30px;
      @media(max-width: 767px) {
        font-size: 24px;
        line-height: 31px !important;
      }
    }
    form {
      .field {
        position: relative;

        input {
          height: 60px;
          padding-right: 37%;
        }
        input[type=submit] {
          position: absolute;
          top: 50%;
          right: 2px;
          transform: translateY(-50%);
          height: 56px;
          background: #FF7E00;
          border-radius: 30px;
          border: none;
          color: white;
          font-weight: 700;
          width: 180px;
          padding: 0;
          @media(max-width: 767px) {
            width: 121px;
          }
        }
      }
      label {
        display: flex;
        gap: 8px;
        font-size: 14px;
        line-height: 22px;
        color: #CEDFEF;
        font-weight: 500;
        margin-top: 20px;
        text-align: left;

      }
    }
  }
  &.great {
    img {
      width: 113px;
      display: block;
      margin:0 auto 30px;
    }
    h3 {
      line-height: 41px;
      margin-bottom: 16px;
    }
    p {
      color: #CEDFEF;
      font-size: 18px;
      line-height: 28px;
      margin: 0;
      @media(max-width: 767px) {
        font-size: 16px;
        line-height: 25px !important;
      }
    }
    button {
      border: none;
      background: #FF7E00;
      border-radius: 30px;
      color: #FFFFFF;
      height: 56px;
      padding: 0 24px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 30px auto 12px;
      cursor: pointer;
    }
    span {
      color: white;
      font-weight: 600;
      line-height: 16px;
      font-size: 16px;
      border-bottom: 1px solid white;
      cursor: pointer;
    }
  }
}
.checkboxes label input:checked ~ span {
  background: url("../images/orange-checkbox.png") center no-repeat;
  min-width: 20px;
  height: 20px;
}













.order-details-popup {
  max-width: 470px;
  width: 100%;
  border-radius: 40px;
  background: white;
  padding: 72px 32px 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  @media(max-width: 767px) {
    padding: 72px 20px 20px;
    border-radius: 20px;
    max-width: 335px;
  }
  .close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .popup-content {
    h4 {
      font-size: 24px;
      line-height: 31px;
      font-weight: 400;
      font-family: "Red Hat Display", sans-serif;
      color: #151515;
      margin: 0 0 16px;
      text-align: center;
      @media(max-width: 767px) {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 12px;
      }
    }
    h5 {
      margin: 0;
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
      font-family: "Red Hat Display", sans-serif;
      color: #151515;
      text-align: center;
      @media(max-width: 767px) {
        font-size: 18px;
        line-height: 23px;
      }
    }
    span {
      margin-top: 12px;
      font-size: 14px;
      line-height: 22px;
      color: #535353;
      display: block;
      text-align: center;
      @media(max-width: 767px) {

        margin-top: 8px;
      }
    }
    ul {
      margin: 24px 0;
      padding-bottom: 24px;
      border-bottom: 1px solid #E3E3E3;
      display: flex;
      flex-direction: column;
      gap: 8px;
      list-style: none;
      li {
        font-size: 16px;
        line-height: 25px;
        font-weight: 700;
        color: #151515;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: 767px) {
          font-size: 14px;
          line-height: 22px;
        }
        span {
          color: #535353;
          font-size: 16px;
          line-height: 25px;
          font-weight: 400;
          margin-top: 0;
          @media(max-width: 767px) {
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
      &#total {
        border-bottom: none;
        padding-bottom: 0;
        li {
          font-size: 18px;
          line-height: 28px;
          span {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }

    }
    button {
      width: 100%;
    }
  }
}





.clinical-proof-popup {
  max-width: 662px;
  width: 100%;
  border-radius: 40px;
  background: white;
  padding: 70px 16px 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  @media(max-width: 767px) {
    padding: 60px 20px 60px;
    border-radius: 20px;
    max-width: 335px;
  }
  .close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .popup-content {
    .heading {
      text-align: center;
      h4 {
        font-size: 24px;
        line-height: 31px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        margin-bottom: 12px;
        margin-top: 0;
        @media(max-width: 767px) {
          font-size: 20px;
          line-height: 26px;
        }
      }
      p {
        max-width: 470px;
        font-size: 16px;
        line-height: 25px;
        color: #535353;
        margin: 0 auto 12px;
        @media(max-width: 767px) {
          font-size: 14px;
          line-height: 22px;
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 12px;
        gap: 12px;
        font-size: 16px;
        line-height: 25px;
        color: #002143;
        font-weight: 600;
      }
    }
    .descript {
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      color: #535353;
      margin-top: 20px;
      margin-bottom: 12px;
      padding: 0 24px;
      @media(max-width: 767px) {
        padding: 0;
      }
    }
    .note {
      font-size: 16px;
      line-height: 25px;
      font-weight: 500;
      color: #151515;
      padding: 0 24px;
      @media(max-width: 767px) {
        padding: 0;
      }
      span {
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        color: #151515;

      }
    }
  }
}