.videos-wrapper {
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  gap: 50px 30px;
  @media(max-width: 991px) {
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 30px;
  }
  @media(max-width: 767px) {
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
  .video-wrapper-item {
    width: 100%;
    .video-image {
      img {
        height: 270px;
      }
      .play-btn {
        width: 80px;
        height: 80px;
      }
    }
    p {
      font-size: 20px;
      line-height: 26px;
      font-weight: 500;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}