.how-works-banner {
  min-height: 600px;
  font-size: 0;
  background: url("../images/how-work.png") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  @media(max-width: 991px) {
    min-height: 420px;
    text-align: center;
  }
    .banner-content {
      max-width: 1170px;
      width: 100%;
      margin: auto;
      @media(max-width: 1200px) {
        padding-left: 20px;
      }
      @media(max-width: 991px) {
        padding: 0 20px;
      }
      .banner-description {
        max-width: 570px;
        width: 100%;
        h1 {
          color: white;
          margin-bottom: 24px;
        }
        p {
          color: white;
          font-size: 18px;
          line-height: 28px;
          @media(max-width: 991px) {
            font-size: 16px;
            line-height: 25px;
          }
        }
      }
    }
}