.reviews-image {
  padding: 75px 0;
  background: white;
  width: 100%;
  img {
    max-width: 975px;
    height: 924px;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
  }
}

.resperate-reviews {
  .recomendation-block {
    padding-top: 80px;
  }
}